<!-- Education & Bootcamp Grid -->
<section id="education" class="py-24 border-t border-border">
    <div class="max-w-6xl mx-auto px-4">
        <div class="grid md:grid-cols-2 gap-16">
            <div data-aos="fade-right">
                <h2 class="text-2xl font-bold text-white mb-8 flex items-center gap-3">
                    <i class="fa-solid fa-user-graduate"></i> Education
                </h2>
                <div class="space-y-8">
                    <div class="group">
                        <h3 class="text-xl font-bold text-white decoration-gray-500 underline-offset-4">
                            Bachelor of Computer Science (S.Kom)</h3>
                        <p class="text-gray-400">Universitas Islam Negeri Sultan Syarif Kasim Riau</p>
                        <p class="text-xs text-gray-500 mt-1 mb-3">Jul 2021 - Mar 2025 (GPA: 3.86)</p>
                        <ul class="list-disc text-sm space-y-2 text-gray-400 marker:text-white text-justify">
                            <li>Relevant Coursework: Organization and Management, IT Project Management, IT Service
                                Management, Enabling Skill, Interpersonal Skill, Business Process Analysis, Business
                                Modeling, Enterprise Architecture.</li>
                            <li>Thesis Title: Pengembangan Sistem Informasi Manajemen Laboratorium Menggunakan
                                Metode Agile Development.</li>
                            <li>Participated in Joint Mobility MATHLINK 2025 with University Malaysia Terengganu,
                                focused on data-driven research for learning performance analysis.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div data-aos="fade-left">
                <h2 class="text-2xl font-bold text-white mb-8 flex items-center gap-3">
                    <i class="fa-solid fa-laptop-code"></i> Bootcamp
                </h2>
                <div class="grid gap-4">
                    <div class="bg-surface p-5 border border-border ">
                        <div class="flex justify-between items-start">
                            <div>
                                <h4 class="text-white font-bold">Coding Camp powered by DBS Foundation</h4>
                                <p class="text-sm text-gray-400">Full Stack Developer</p>
                                <p class="text-xs text-gray-500 mt-2">Graduated with Distinction and led Foodinary
                                    capstone team.</p>
                            </div>
                            <span class="mt-8  text-xs bg-zinc-800 px-2 py-1 text-white">Jan - Jun 2025</span>
                        </div>
                    </div>
                    <div class="bg-surface p-5 border border-border ">
                        <div class="flex justify-between items-start">
                            <div>
                                <h4 class="text-white font-bold">Bangkit Academy</h4>
                                <p class="text-sm text-gray-400">Cloud Computing</p>
                                <p class="text-xs text-gray-500 mt-2">Led DAISY capstone team and awarded Best
                                    Presenter in peer review.</p>
                            </div>
                            <span class="mt-8 text-xs bg-zinc-800 px-2 py-1 text-white">Aug 2024 - Jan 2025</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
